<!-- 侧边菜单 -->
<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
            <span>HR单机版取数测算</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="测算" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>测算</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console">
                        <a lay-href="calculation/maintain?template_id=HR_PAY_INFO_VIEW">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>薪资维护</cite>
                        </a>
                    </dd>
                    <dd data-name="console">
                        <a lay-href="calculation/maintain?template_id=HR_PAY_TYPE_TOTAL_VIEW">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>类别统计</cite>
                        </a>
                    </dd>
                    <dd data-name="console">
                        <a lay-href="calculation/calcavg">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>平均值统计</cite>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>